<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.meiduohui.groupbuying"
    android:versionCode="107"
    android:versionName="1.07">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />         <!-- 读取文件权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />        <!-- 写入文件权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />        <!-- 使用位置权限 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />          <!-- 查找位置权限 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/> <!--用于申请调用A-GPS模块-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />             <!-- Wifi状态权限 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>              <!--用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />          <!-- 网络状态权限 -->
    <uses-permission android:name="android.permission.INTERNET" />                      <!-- 网络权限 -->
    <uses-permission android:name="android.permission.CAMERA" />                        <!-- 摄像头权限 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />                    <!-- 打电话权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />              <!-- 读取手机状态权限 -->
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:name=".application.GlobalParameterApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="999b04d55f553442af7883577aa54cbd"/>

        <service android:name="com.amap.api.location.APSService"/>

        <activity
            android:name=".UI.activitys.main.SplashActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|adjustResize|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
<!--https://api.meiduohui.cn/api/share/jump?param=com.mdh.meiduohui://44-->
                <data android:scheme="https"
                      android:host="api.meiduohui.cn"
                      android:path="/api/share/jump"
                      android:port="8888" />
            </intent-filter>

        </activity>
        <activity
            android:name=".UI.activitys.main.HomepageActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.activitys.main.WebActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
         <activity
            android:name=".UI.activitys.login.RegisterActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.activitys.login.LoginActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.activitys.mine.aboutMei.AboutMeiActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.activitys.coupons.CouponDetailsActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.activitys.categorys.AllCategoryActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.activitys.categorys.SecCategoyActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.activitys.coupons.MessageDetailsActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.activitys.mine.ShopOrderListActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.activitys.mine.VipOrderListActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.activitys.mine.CollectListActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.activitys.mine.HistoryListActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.activitys.mine.wallet.MyWalletActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.activitys.publish.RedPacketActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.activitys.publish.ComboActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.activitys.publish.GeneralQuanActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.activitys.mine.wallet.WithdrawalActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.activitys.mine.wallet.AddMoneyActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.activitys.mine.CouponListActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.activitys.coupons.OrderActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.activitys.coupons.SelectCouponActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.activitys.login.ForgetPwdActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.activitys.mine.setting.VipInfoActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.activitys.mine.setting.ShopInfoActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.activitys.mine.setting.ShopIntroActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.activitys.mine.setting.ShopAddressActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.activitys.mine.setting.SettingActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.activitys.mine.setting.ChangePwdActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.activitys.mine.ApplyShopActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.activitys.mine.aboutMei.UsingHelpActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.activitys.mine.aboutMei.PrivacyPolicyActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.activitys.mine.aboutMei.AboutUsActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.activitys.categorys.MessageListActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.activitys.categorys.SelCatActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.activitys.login.BindMobileActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <activity android:name=".UI.activitys.main.PlusImageActivity" />
        <activity
            android:name=".UI.activitys.coupons.PayOrderActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.google.zxing.activity.CaptureActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="com.alipay.sdk.app.H5AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent" />
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="4wx3f889385b49ca1b82" />
            </intent-filter>
        </activity>
    </application>

</manifest>