<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.meiduohui.groupbuying"
    android:versionCode="100"
    android:versionName="1.00">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".application.GlobalParameterApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name=".UI.activitys.HomepageActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|adjustResize|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UI.activitys.login.RegisterActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.activitys.login.LoginActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.activitys.mine.AboutMeiActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.activitys.coupons.CouponDetailsActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.activitys.categorys.AllCategoryActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.activitys.categorys.FirstCategoyItemActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.activitys.coupons.MessageDetailsActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.activitys.mine.ShopOrderListActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.activitys.mine.VipOrderListActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.activitys.mine.CollectListActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.activitys.mine.HistoryListActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.activitys.mine.MyWalletActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.activitys.publishCoupon.RedPacketActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.activitys.publishCoupon.DiscountActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.activitys.publishCoupon.CashCouponActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.activitys.publishCoupon.ComboActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.activitys.publishCoupon.GeneralQuanActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.activitys.mine.WithdrawalActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
         <activity
            android:name=".UI.activitys.mine.AddMoneyActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.activitys.mine.CouponActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.activitys.coupons.OrderActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.activitys.login.ForgetPwdActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.activitys.mine.VipInfoActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" />

    </application>

</manifest>